namespace CipherBank_app.__FEATURE__;

/// <inheritdoc />
public sealed class __SERVICE__ : I__SERVICE__
{
    private readonly I__DEPENDENCY__ _dependency;

    public __SERVICE__(I__DEPENDENCY__ dependency)
    {
        _dependency = dependency;
    }

    /// <inheritdoc />
    public Task ExecuteAsync(CancellationToken ct)
        => _dependency.ExecuteAsync(ct);
}
