# Cipherbank app env
EXPO_PUBLIC_USE_MOCK=true
EXPO_PUBLIC_API_BASE=https://api.cipherbank.dev/v1
EXPO_PUBLIC_WSS=wss://api.cipherbank.dev/v1/stream
EXPO_PUBLIC_MOCK_HAS_WALLET=true
EXPO_PUBLIC_HARDWARE_CARD_ID=card_tok_nfc_bench_4242
EXPO_PUBLIC_POS_REQUIRE_TEST_CARD=true
